---
import SectionHeading from "@/components/SectionHeading.astro";
import Layout from "@/layouts/Layout.astro";
import Content from "@/content/about.mdx";
---

<Layout
    title="About"
    description="Learn more about Al Abed Jafry, a Full Stack Web Developer specializing in MERN/PERN stack development, system design, and creating scalable web applications."
    keywords="About Al Abed Jafry, Full Stack Developer, Web Developer Profile, MERN Developer, PERN Stack, System Design, Web Application Developer"
>
    <SectionHeading Heading="About" SubHeading="Get to Know Me Better" />

    <div
        class="prose prose-lg dark:prose-invert !max-w-full overflow-visible relative mt-10 mb-20"
        aria-labelledby="section-heading"
    >
        <Content />
    </div>
</Layout>
