---
import ContractFrom from "@/components/ContractFrom";
import ContractInfo from "@/components/ContractInfo.astro";
import SectionHeading from "@/components/SectionHeading.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Contract"
    description="Get in touch with Al Abed Jafry for web development projects, freelance opportunities, or collaborations. Let's work together to bring your ideas to life."
    keywords="Contact Al Abed Jafry, Web Developer Contact, Freelance Web Developer, Collaborate with Developer, Hire Full Stack Developer, Web Development Services"
>
    <SectionHeading
        Heading="Contract"
        SubHeading="Let’s Build Something Together"
    />
    <div
        class="grid grid-cols-1 md:grid-cols-2 gap-8"
        aria-labelledby="section-heading"
    >
        <ContractInfo />
        <ContractFrom client:only="react" />
    </div>
</Layout>
