---
import Banner from "@/components/Banner.astro";
import BlogLists from "@/components/BlogLists.astro";
import ContractFrom from "@/components/ContractFrom";
import ContractInfo from "@/components/ContractInfo.astro";
import PortfolioLists from "@/components/PortfolioLists.astro";
import SectionHeading from "@/components/SectionHeading.astro";
import ServiceLists from "@/components/ServiceLists.astro";
import SkillList from "@/components/SkillList.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blogs");
const portfolios = await getCollection("portfolios");
const featuredBlogs = blogs.filter((post: any) => post.data.featured === true);
const featuredPortfolios = portfolios.filter(
	(portfolio: any) => portfolio.data.featured === true,
);
---

<Layout
	title="Home"
	description="Portfolio of Al Abed Jafry, a Full Stack Web Developer specializing in MERN/PERN stack, building scalable web applications, and crafting exceptional user experiences."
	keywords="Full Stack Developer, Web Development, MERN Stack, PERN Stack, React.js, Node.js, Portfolio, Al Abed Jafry, Al Abed, Jafry, aajafry,  Frontend Developer, Backend Developer, Freelance Developer"
>
	<Banner />
	<section id="services" aria-labelledby="services-heading">
		<SectionHeading
			Heading="Services"
			SubHeading="Turning Ideas Into Reality"
		/>
		<ServiceLists />
	</section>
	<section id="portfolios" aria-labelledby="portfolios-heading">
		<SectionHeading
			Heading="Portfolios"
			SubHeading="A Glimpse of My Creative Journey"
		/>
		<PortfolioLists portfolios={featuredPortfolios} />
	</section>
	<section id="expertise" aria-labelledby="expertise-heading">
		<SectionHeading
			Heading="Expertise"
			SubHeading="Skills That Make a Difference"
		/>
		<SkillList />
	</section>
	<section id="blogs" aria-labelledby="blogs-heading">
		<SectionHeading Heading="Blogs" SubHeading="Thoughts and Insights" />
		<BlogLists blogs={featuredBlogs} />
	</section>

	<section id="contract" aria-labelledby="contract-heading">
		<SectionHeading
			Heading="Contract"
			SubHeading="Let’s Build Something Together"
		/>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
			<ContractInfo />
			<ContractFrom client:only="react" />
		</div>
	</section>
</Layout>
