---
import HeroImage from "@/assets/images/hero.png";
import TypingEffect from "@/components/TypingEffect";
import { Button } from "@/shadcn/components/ui/button";
import { Image } from "astro:assets";
import { HeartHandshake, Newspaper } from "lucide-react";

const roles = [
    "Full Stack Web Developer",
    "Competitive Programmer",
    "Tech Consultant",
    "Web Designer",
];
---

<section
    class="min-h-[calc(100svh-4rem)] flex items-center justify-evenly lg:flex-row flex-col-reverse gap-4"
>
    {/* Left Content */}
    <div class="flex flex-col gap-2">
        <h2 class="text-2xl capitalize flex items-center gap-2">
            Hi there <span role="img" aria-label="wave">👋</span>
        </h2>
        <h1 class="text-4xl capitalize leading-tight">
            I'm Al Abed <span class="font-semibold text-rose-500">Jafry</span>
        </h1>
        <TypingEffect client:only="react" />
        {/* Buttons */}
        <div class="flex items-center gap-4 mt-4 capitalize">
            <a
                href="https://github.com/aajafry/resume/raw/main/main.pdf"
                target="_blank"
                rel="noopener noreferrer"
                title="Download Resume (PDF)"
                aria-label="Download Resume (PDF)"
            >
                <Button variant="secondary" className="flex items-center gap-2">
                    <Newspaper className="h-5 w-5" aria-hidden="true" />
                    <span> Download Resume</span>
                </Button>
            </a>
            <a
                href="mailto:aajafry@gmail.com"
                title="Send an email to Al Abed Jafry"
                aria-label="Send an email to Al Abed Jafry"
            >
                <Button
                    variant="default"
                    className="flex items-center gap-2"
                    aria-label="Contact Me"
                >
                    <HeartHandshake className="h-5 w-5" aria-hidden="true" />
                    <span>Contact Me</span>
                </Button>
            </a>
        </div>
    </div>

    {/* Hero Image */}
    <Image
        src={HeroImage}
        width={400}
        height={400 / 1.5}
        alt="Al Abed Jafry - Full Stack Web Developer"
        format="webp"
        quality="high"
        class="aspect-thumbnail w-[250px] lg:w-[400px]"
    />
</section>
