---
import Handshake from "@/assets/images/handshake.png";
import { Image } from "astro:assets";
import { Facebook, Github, Linkedin, Mail, PhoneCall, X } from "lucide-react";

// Social menu items
const items = [
    { title: "Github", url: "https://github.com/aajafry", icon: Github },
    {
        title: "Linkedin",
        url: "https://linkedin.com/in/aajafry",
        icon: Linkedin,
    },
    {
        title: "Facebook",
        url: "https://www.facebook.com/aajafry",
        icon: Facebook,
    },
    { title: "X", url: "https://x.com/aajafry2", icon: X },
];
---

<div class="group p-6 rounded-sm shadow hover:shadow-md dark:bg-slate-900">
    <div class="overflow-hidden rounded mb-4">
        <Image
            src={Handshake}
            alt="A handshake symbolizing collaboration and teamwork"
            format="webp"
            quality="mid"
            class="group-hover:scale-110 w-full transition-transform duration-300"
        />
    </div>

    <div class="capitalize mb-4">
        <h3 class="font-medium text-3xl leading-relaxed">
            Al Abed <span class="text-red-500">Jafry</span>
        </h3>
        <h4 class="uppercase mb-4 text-gray-100 dark:text-gray-100">
            Full Stack Web Developer
        </h4>
    </div>

    <div class="mb-6 text-gray-700 dark:text-gray-300">
        <p class="mb-4">
            I am available for freelance work. Connect with me via email or
            phone.
        </p>

        <div class="space-y-2">
            <div class="flex gap-2 items-center">
                <Mail className="h-4 w-4 text-red-500" />
                <a
                    href="mailto:aajafry2@gmail.com"
                    title="Send an email to Al Abed Jafry"
                    aria-label="Send an email to Al Abed Jafry"
                    class="hover:text-red-500 transition-colors duration-300"
                >
                    aajafry2@gmail.com
                </a>
            </div>

            <div class="flex gap-2 items-center">
                <PhoneCall className="h-4 w-4 text-red-500" />
                <a
                    href="tel:+8801680899730"
                    title="Call Al Abed Jafry"
                    aria-label="Call Al Abed Jafry"
                    class="hover:text-red-500 transition-colors duration-300"
                >
                    016 80 899 730
                </a>
            </div>
        </div>
    </div>

    <div>
        <h4 class="text-lg uppercase mb-4 text-gray-700 dark:text-gray-300">
            Find Me On
        </h4>
        <ul class="flex items-center gap-3">
            {
                items.map((item) => (
                    <li>
                        <a
                            href={item.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            title={`Visit ${item.title} profile`}
                            aria-label={`Visit ${item.title} profile`}
                            class="inline-flex items-center justify-center w-10 h-10 rounded-full shadow-md hover:bg-rose-500 hover:text-white transition-colors duration-300"
                        >
                            <item.icon className="h-5 w-5" aria-hidden="true" />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
