---
const { Heading, SubHeading } = Astro.props;
---

<div class="relative text-center my-12">
    <h1
        id="heading"
        data-heading
        class="uppercase text-6xl leading-relaxed tracking-widest opacity-10"
    >
        {Heading}
    </h1>
    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
        <h2
            id="subHeading"
            data-subheading
            class="capitalize text-xl tracking-wide underline underline-offset-[6px] decoration-rose-500"
        >
            {SubHeading}
        </h2>
    </div>
</div>
