---
import { FileCode, Headset, PencilRuler } from "lucide-react";

const services = [
    {
        title: "Tech Consultancy",
        excerpt:
            "Providing expert guidance to help businesses adopt cutting-edge technology, optimize processes, and achieve long-term strategic goals efficiently.",
        icon: Headset,
    },
    {
        title: "Web Design",
        excerpt:
            "Crafting visually stunning, user-friendly, and responsive web designs that enhance user experience while reflecting your brand's unique identity.",
        icon: PencilRuler,
    },
    {
        title: "Web Development",
        excerpt:
            "Developing robust, scalable, and high-performance web applications with modern technologies tailored to meet your specific business needs.",
        icon: FileCode,
    },
];
---

<ul
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    aria-label="Services"
>
    {
        services.map((service) => (
            <li
                class="dark:bg-gray-900 
                    hover:bg-gradient-to-br hover:from-slate-100 hover:to-white
                    dark:hover:bg-gradient-to-br dark:hover:from-slate-900 dark:hover:to-slate-800 
                    p-4 rounded shadow hover:shadow-md transition-all duration-300 ease-in-out"
                aria-labelledby={`service-${service.title}`}
            >
                <article class="flex flex-col gap-4">
                    <div class="text-rose-500">
                        <service.icon
                            aria-hidden="true"
                            role="img"
                            aria-label={service.title}
                        />
                    </div>
                    <h2 class="font-medium text-2xl">{service.title}</h2>
                    <p class="text-sm leading-relaxed">{service.excerpt}</p>
                </article>
            </li>
        ))
    }
</ul>
