---
import AstroJs from "@/assets/icons/AstroJs.svg";
import MongoDB from "@/assets/icons/MongoDB.svg";
import NextJs from "@/assets/icons/NextJs.svg";
import NodeJs from "@/assets/icons/NodeJs.svg";
import PostgreSQL from "@/assets/icons/PostgreSQL.svg";
import ReactJs from "@/assets/icons/ReactJs.svg";
import ReduxJs from "@/assets/icons/ReduxJs.svg";
import VueJs from "@/assets/icons/VueJs.svg";
import JavaScript from "@/assets/icons/JavaScript.svg";
import { SiSocketdotio, SiExpress, SiAstro } from "react-icons/si";

const skills = [
    {
        icon: JavaScript,
        title: "JavaScript",
    },
    {
        icon: ReactJs,
        title: "React.js",
    },
    {
        icon: ReduxJs,
        title: "Redux",
    },
    {
        icon: SiAstro,
        title: "Astro.js",
    },
    {
        icon: VueJs,
        title: "Vue.js",
    },
    {
        icon: NextJs,
        title: "Next.js",
    },
    {
        icon: NodeJs,
        title: "Node.js",
    },
    {
        icon: SiExpress,
        title: "Express.js",
    },
    {
        icon: MongoDB,
        title: "MongoDB",
    },
    {
        icon: PostgreSQL,
        title: "PostgreSQL",
    },
    {
        icon: SiSocketdotio,
        title: "Socket.IO",
    },
];
---

<ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
    {
        skills.map((skill) => (
            <li
                class="flex items-center gap-2 px-4 py-3 sm:px-6 rounded bg-slate-100 dark:bg-slate-900 shadow hover:shadow-md transition-transform transform hover:scale-105"
                aria-label={`Skill: ${skill.title}`}
            >
                <skill.icon aria-hidden="true" className="h-6 w-6" />
                <p class="font-medium text-gray-800 dark:text-gray-300">
                    {skill.title}
                </p>
            </li>
        ))
    }
</ul>
