---
export const prerender = true;
import SectionHeading from "@/components/SectionHeading.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
export const getStaticPaths = async () => {
    const blogs = await getCollection("blogs");

    return blogs.map((blog: any) => ({
        params: { slug: blog.slug },
        props: blog,
    }));
};

const {
    data: { title, description, keywords },
    ...blog
} = Astro.props;

const { Content } = await blog.render();
---

<Layout title={title} description={description} keywords={keywords}>
    <SectionHeading Heading="Blog" SubHeading="Thoughts and Insights" />

    <div
        class="prose prose-lg dark:prose-invert !max-w-full overflow-visible relative mt-10 mb-20"
        aria-labelledby="section-heading"
    >
        <Content />
    </div>
</Layout>
