---
export const prerender = true;
import SectionHeading from "@/components/SectionHeading.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
export const getStaticPaths = async () => {
    const portfolios = await getCollection("portfolios");

    return portfolios.map((portfolio: any) => ({
        params: { slug: portfolio.slug },
        props: portfolio,
    }));
};

const {
    data: {title,  description, keywords },
    ...portfolio
} = Astro.props;

const { Content } = await portfolio.render();
---

<Layout title={title} description={description} keywords={keywords}>
    <SectionHeading
        Heading="Portfolio"
        SubHeading="A Glimpse of My Creative Journey"
    />
    <div
        class="prose prose-lg dark:prose-invert !max-w-full overflow-visible relative mt-10 mb-20"
        aria-labelledby="section-heading"
    >
        <Content />
    </div>
</Layout>
